@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Css for cards hover effect */
.img-container {
    overflow: hidden;
}
.img-container img {
    transition: transform 0.5s;
}
.img-container img:hover {
    transform: scale(0.7);
}

/* =========================== SCROLLBAR ================ */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
  }